@font-face {
  font-family: "iconfont"; /* Project id 2579202 */
  src: url('//at.alicdn.com/t/font_2579202_gc05j17fugg.woff2?t=1622300750504') format('woff2'),
       url('//at.alicdn.com/t/font_2579202_gc05j17fugg.woff?t=1622300750504') format('woff'),
       url('//at.alicdn.com/t/font_2579202_gc05j17fugg.ttf?t=1622300750504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-kaishi:before {
  content: "\e6be";
}

.icon-kaishi1:before {
  content: "\e617";
}

.icon-start:before {
  content: "\e631";
}

.icon-kaishi2:before {
  content: "\e639";
}

.icon-zanting:before {
  content: "\e662";
}

.icon-pause:before {
  content: "\e604";
}

.icon-zanting2:before {
  content: "\e628";
}

.icon-zanting1:before {
  content: "\f455";
}

.icon-jiantou:before {
  content: "\e691";
}

.icon-jian:before {
  content: "\e605";
}

.icon-jia:before {
  content: "\e606";
}
