@font-face {
  font-family: "iconfont"; /* Project id 2579202 */
  src: url('//at.alicdn.com/t/font_2579202_ldg4tvjbyl.woff2?t=1622280426168') format('woff2'),
       url('//at.alicdn.com/t/font_2579202_ldg4tvjbyl.woff?t=1622280426168') format('woff'),
       url('//at.alicdn.com/t/font_2579202_ldg4tvjbyl.ttf?t=1622280426168') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiantou:before {
  content: "\e691";
}

.icon-jian:before {
  content: "\e605";
}

.icon-jia:before {
  content: "\e606";
}
