.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #ccc;
}

.height-100 {
  /* w / h = 0.56 */
  width: 56vh;
  height: 100vh;
  margin: 0 auto;
}

.width-100 {
  /* w / h = 0.56 */
  position: absolute;
  width: 100vw;
  height: 178.57vw;
  top: 50%;
  transform: translateY(-50%);
}

.game-area {
  position: relative;
  width: 100%;
  height: 0;
  border-bottom: 10px solid;
  /* w / h  = 0.75*/
  padding-bottom: 133.33%;
}

.dot {
  position: absolute;
  display: inline-block;
  width: 4%;
  height: 4%;
  border: 1px solid #fff;
}

.snake {
  z-index: 2;
  background-color: black;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(151, 151, 151, .2);
  z-index: 3;
  text-align: center;
  line-height: 50vh;
  font-size: 2rem;
  color: white;
  letter-spacing: 2rem;
  padding-left: 3.5rem;
  text-shadow: 4px 4px 4px #000;
}